@charset "utf-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* color */
  --main-color: #ecf2ff;
  --accent-color: #1f2497;
  --white-color: #fff;
  --border-color: #aec8ff;
  --indigo-color: #1d2362;
  --gray-color: #5c5c5c;
  --black-color: #000;
  --blue-color: #6e85b7;
  --orange-color: #ffb319;
  --skills-color: #216baa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 100px;
}

li {
  list-style-type: none;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 900;
  background-color: var(--main-color);
}

section {
  margin-bottom: 150px;
}

/* common */
.section__title {
  /* transform: translateY(50px); */
  position: relative;
  font-weight: 900;
  text-align: center;
  margin: 0 0 80px 0;
  letter-spacing: 0.2rem;
}

/* transition */
.fade {
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fade.show {
  opacity: 1;
  /* transform: translateY(0); */
}

.anim-up {
  transform: translateY(100px);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.anim-down {
  transform: translateY(-100px);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.anim-down.down {
  opacity: 1;
  transform: none;
}

.anim-up.up {
  opacity: 1;
  transform: none;
}

/* layout */

.inner {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 40px;
  margin: 0 auto;
}

/* navbar */
.navbar {
  position: fixed;
  font-size: 20px;
  font-weight: bold;
  left: 45px;
  top: 110px;
  z-index: 10;
  color: var(--blue-color);
}

.navbar li {
  position: relative;
  display: flex;
  width: 180px;
  height: 50px;
  align-items: center;
  border-top: 1px solid var(--blue-color);
  cursor: pointer;
  /* color: var(--temp); */
}

.navbar li:hover {
  color: var(--black-color);
  font-weight: 900;
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  border: 0;
  background: transparent;
  display: none;
}

.navbar i {
  display: none;
}
/* .navbar li.active {
  color: var(--accent-color);
} */

/* home */
.home {
  position: relative;
  display: flex;
  align-items: start;
  gap: 100px;
  margin: 0px auto;
  padding: 250px 0;
}

.home__avatar {
  flex-basis: calc(100% / 3);
  padding-bottom: calc(100% / 3);
  background: url("../images/profile.png") no-repeat center/cover;
}

.home__intro {
  position: relative;
  flex-basis: 10%;
  flex-grow: 1;
}

.home__intro::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 4px;
  width: 145px;
  height: 5px;
  background-color: var(--accent-color);
}
.home__intro__title {
  font-weight: bold;
  color: var(--accent-color);
  margin: 10px 0px 35px;
}

.home__intro__desc {
  font-weight: bold;
  text-align: justify;
}

.home__intro__desc > div {
  margin-bottom: 20px;
}

.desc__title {
  font-size: 20px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.desc__content {
  font-size: 16px;
  line-height: 1.8;
}

.home__icon {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.home__icon img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.home__icon img:hover {
  transform: scale(1.1);
}

/* profile */
.profile {
  position: relative;
  display: flex;
  gap: 50px;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile.show {
  opacity: 1;
}

.iphone {
  width: 350px;
  height: 700px;
}

.profile__circle {
  position: absolute;
  left: -450px;
  top: 60%;
  transform: translateY(-50%);
  width: 650px;
  height: 650px;
  border-radius: 50%;
  background-color: var(--skills-color);
  z-index: -1000;
}

.profile__intro {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 0px;
  font-size: 18px;
  color: var(--skills-color);
  line-height: 1.6;
}

.profile__resume {
  position: absolute;
  left: 33.5%;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--skills-color);
  margin-bottom: 20px;
  cursor: pointer;
}

.profile__resume::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 6px;
  background-color: var(--skills-color);
}

.profile__resume > p {
  font-size: 20px;
  margin-left: 45px;
}

.cursor-img {
  width: 40px;
  height: 40px;
}

.profile__intro-title {
  font-size: 35px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.profile__intro-desc {
  color: var(--black-color);
}

.profile__info-box {
  position: absolute;
  left: 50px;
  top: 62%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  gap: 50px;
}

.profile__info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding: 35px 40px;
  width: calc(100% / 4);
  font-size: 16px;
  background-color: var(--skills-color);
  color: var(--white-color);
  border-radius: 10px;
}

.info-item__title {
  font-size: 20px;
}

/* skills */

.skills__title {
  color: var(--skills-color);
  letter-spacing: 0.2rem;
}

.skills__container {
  display: flex;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--main-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skills__container h2 {
  position: relative;
  color: var(--skills-color);
  padding: 30px 0px;
  letter-spacing: 0.2rem;
  background-color: var(--white-color);
}

.skills__container__left > h2::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 90px;
  border-right: 7px solid var(--skills-color);
}
.skills__container__left,
.skills__container__right {
  flex-basis: 50%;
}

.skills__container__left > .skills__boxes::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 90%;
  border-right: 7px solid var(--white-color);
}
.skills__boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0px;
  background-color: var(--skills-color);
}
.skills__boxes__top,
.skills__boxes__bottom {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.skills__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: var(--white-color);
  border-radius: 100%;
}

.skills__box > img {
  width: 60px;
  height: 60px;
}

.skills__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: inherit;
  height: inherit;
  text-align: center;
  background-color: var(--black-color);
  border-radius: 50%;
  color: var(--white-color);
  opacity: 0;
  font-size: 18px;
  transition: all 300ms ease-in;
}

.skills__description > span {
  width: 95%;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}
.skills__box:hover .skills__description {
  opacity: 0.8;
}

/* portfolio */
.portfolio__title::after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 240px;
  height: 10px;
  background-color: var(--border-color);
}

.portfolio__categories {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.portfolio__categories button {
  border: 0;
  outline: 0;
  background: var(--white-color);
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.portfolio__categories button:hover,
.portfolio__categories button.selected {
  background-color: var(--border-color);
  color: var(--white-color);
}
.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  opacity: 1;
  transition: all 300ms ease-out;
}

.portfolio__container.anim-out {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
}
.portfolio__card {
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__card.invisible {
  display: none;
}

.portfolio__card > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.portfolio__card > img.cover {
  object-fit: cover;
  object-position: top;
}

.portfolio__card__text-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: black;
  color: white;
  opacity: 0;
  font-size: 14px;
  gap: 10px;
  border-radius: 10px;
  transform: translateY(70px);
  transition: all 350ms ease-in;
}
.portfolio__card__text-box > h4 {
  font-size: 16px;
  color: var(--orange-color);
}

.portfolio__card__desc {
  text-align: center;
  font-weight: 400;
}

.portfolio__card__skill {
  display: flex;
  gap: 10px;
  text-align: center;
  color: var(--orange-color);
}

.portfolio__card__skill__text {
  font-weight: 400;
}

.portfolio__card__contribution {
  display: flex;
  gap: 10px;
  text-align: center;
  color: var(--orange-color);
}

.portfolio__card__contribution__text {
  font-weight: 400;
}

.portfolio__icon__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 400;
}
.portfolio__icon__box i {
  cursor: pointer;
  color: var(--main-color);
}

.portfolio__card:hover .portfolio__card__text-box {
  opacity: 0.9;
  transform: translateY(0);
}

/* CONTACT */

.contact {
  padding: 20px 0;
  margin-bottom: 0px;
  /* background-color: #ccdaf8; */
  background-color: var(--border-color);
  color: var(--white-color);
}
/* .contact__title::after {
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 230px;
  height: 10px;
  background-color: var(--main-color);
} */

.contact__title {
  padding: 30px 0;
  margin-bottom: 0px;
}
.contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact__icon img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.contact__copyright {
  padding: 30px 0;
  text-align: center;
}

.contact__icon img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1650px) {
  .navbar {
    width: 100%;
    top: 0;
    left: auto;
    right: 0;
    transition: all 300ms ease;
    padding: 16px;
  }

  .navbar.navbar--dark {
    background-color: var(--border-color);
    color: var(--white-color);
    padding: 12px;
  }

  .gnb {
    display: flex;
    justify-content: flex-end;
    transition: all 300ms ease;
  }

  .gnb li {
    justify-content: center;
    border-top: none;
    width: 140px;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .home {
    gap: 60px;
  }

  .iphone {
    width: 300px;
    height: 600px;
  }
  .profile__info-item {
    padding: 30px 20px;
  }
  .profile__info-box {
    left: 35px;
  }
  .skills__container {
    flex-direction: column;
    gap: 50px;
    box-shadow: none;
  }

  .skills__container__left {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .skills__container__right {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .skills__container__left > h2::after {
    content: none;
  }
  .skills__container__left > .skills__boxes::after {
    content: none;
  }

  .skills__boxes {
    padding: 80px 0;
  }

  .portfolio__title::after {
    width: 195px;
  }

  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 16px;
  }
  .home {
    flex-direction: column;
    align-items: center;
    padding: 60px;
  }
  .home__avatar {
    width: 50%;
    padding-bottom: 50%;
  }
  .home__intro {
    text-align: center;
  }
  .home__intro::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .home__intro__desc {
    text-align: center;
  }

  .desc__content {
    text-align: center;
  }

  .iphone {
    width: 250px;
    height: 500px;
  }

  .profile__intro {
    padding: 60px 0px;
  }
  .profile__info-item {
    padding: 20px 10px;
  }

  .profile__info-box {
    left: 27px;
  }
  .info-item__title {
    font-size: 16px;
  }
  .home__icon {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  section {
    margin-bottom: 60px;
  }
  .inner {
    padding: 20px;
    padding-top: 80px;
  }

  .section__title {
    margin-bottom: 30px;
  }

  .navbar {
    padding: 8px;
    font-size: 16px;
  }
  .gnb {
    padding-right: 20px;
  }

  .navbar.navbar--dark {
    padding: 6px;
  }
  .navbar p {
    display: none;
  }

  .navbar i {
    display: block;
  }

  .gnb {
    gap: 25px;
  }
  .gnb li {
    width: auto;
  }
  .home {
    padding: 0px;
    gap: 40px;
    margin-bottom: 60px;
  }

  /* .skills__boxes {
    padding: 30px 10px;
  }
  .skills__box {
    width: 70px;
    height: 70px;
  }
  .skills__box > img {
    width: 35px;
    height: 35px;
  } */

  .skills__description {
    display: none;
  }

  .profile {
    justify-content: center;
  }
  .img-box {
    position: relative;
  }

  .profile__intro {
    display: none;
  }
  .profile__info-box {
    flex-direction: column;
    top: 47%;
    gap: 5px;
  }

  .profile__info-item {
    width: 80%;
    padding: 10px;
  }

  .profile__intro__text {
    display: none;
  }
  .portfolio__title::after {
    content: none;
  }

  .profile__resume {
    position: absolute;
    bottom: 20px;
    left: 0;
  }

  .profile__resume > p {
    font-size: 14px;
  }

  .profile__resume::before {
    content: none;
  }

  .cursor-img {
    width: 30px;
    height: 30px;
  }
  .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact {
    padding: 0px;
  }
  .contact__title {
    padding: 30px 0px 0px 0px;
  }
  .contact__icon img {
    width: 40px;
    height: 40px;
  }
  .contact__copyright {
    padding: 20px;
  }
}

@media screen and (max-width: 620px) {
  .skills__boxes {
    padding: 30px 10px;
  }
  .skills__box {
    width: 70px;
    height: 70px;
  }
  .skills__box > img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 420px) {
  .portfolio__card__text-box {
    font-size: 14px;
  }
  .portfolio__card__desc {
    font-size: 14px;
  }
  .portfolio__icon__box {
    font-size: 18px;
  }
}
