.heading {
    font-size: var(--title-2);
    font-weight: var(--weight-semiBold);
    margin-bottom: 12px;
}
.card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
