.container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 32px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex-grow: 1;
}

main .container {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 36px;
    align-items: flex-start;
}

.text-primary {
    display: inline-block;
    color: var(--primary);
}

.icon-btn {
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--surface);
    border-radius: var(--radius-circle);
    color: var(--on-background);
    border: 1px solid var(--surface-outline);
}

.icon {
    font-size: 24px;
}

.icon-btn:hover {
    filter: brightness(0.9);
    border-color: var(--surface-outline-hover);
}

.tab-panel {
    position: relative;
    padding-top: 24px;
    min-height: calc(100vh - var(--header-height) + 16px - 53px);
}

.absolute-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: translateZ(0);
}

.copyright {
    font-size: var(--label-1);
}


@media screen and (max-width: 992px) {
    main .container {
        grid-template-columns: 240px 1fr;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-inline: 16px;
    }
    
    main .container {
        display: block;
    }
}