.profile {
    position: sticky;
    top: 96px;
    left: 0;
}

.img-holder {
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: var(--radius-circle);
}

.img-holder .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: var(--title-2);
    font-weight: var(--weight-semiBold);
    margin-block: 16px 4px;
}

.nickname,
.intro {
    margin-bottom: 12px;
}

.intro {
    font-size: var(--label-1);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: var(--weight-semiBold);
    border-radius: var(--radius-8);
    border: 1px solid var(--surface-outline);
    height: 40px;
    padding-inline: 24px;
    background-color: var(--surface);
    color: var(--primary);
    transition: background-color 0.3s, border-color 0.3s;
}

.link:hover {
    background-color: var(--surface-hover);
    border-color: var(--surface-outline-hover);
}

.list {
    padding-block: 24px;
}

.item .a{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.item:not(:last-child) .a {
    margin-bottom: 16px;
}

.item:hover .text {
    color: var(--primary);
}

.footer {
    padding-top: 16px;
    border-top: 1px solid var(--surface-outline);
}

@media screen and (max-width: 992px) {
    .img-holder {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        position: static;
    }

    .footer {
        display: none;
    }
}