.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-opacity-50);
    display: grid;
    place-items: center;
    padding-inline: 16px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-inner {
    position: relative;
    background-color: var(--background);
    width: 900px;
    border-radius: var(--radius-8);
    padding: 40px;
}

.modal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
    color: var(--on-surface);
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
    color: var(--primary);
}