.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--background);
    z-index: 4;
    transition: background-color 0.3s;
}

.header.active {
    background-color: var(--surface);
}

.logo {
    display: flex;
    font-size: 26px;
    font-weight: var(--weight-bold);
}