.img-holder {
    position: relative;
    width: 100%;
    padding-top: 75%;
    border-radius: var(--radius-8);
    overflow: hidden;
    border: 1px solid var(--surface-outline);
}

.modal-title {
    font-size: var(--title-2);
    color: var(--on-background);
    font-weight: var(--weight-semiBold);
    margin-bottom: 8px;
}

.modal-desc {
    line-height: 1.6;
}

.link {
    display: inline-block;
    font-weight: var(--weight-semiBold);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.modal-skils {
    line-height: 1.6;
    margin-top: 8px;
    color: var(--on-background);
}

.skill {
    color: var(--primary);
}

.view-demo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: var(--weight-semiBold);
    border-radius: var(--radius-8);
    height: 40px;
    padding-inline: 24px;
    background-color: var(--on-background);
    color: var(--background);
    transition: color 0.3s;
    margin-top: 8px;
}

.view-demo-btn:hover {
    color: var(--primary);
}

@media screen and (max-width: 900px) {
    .view-demo-btn {
        height: 36px;
    }
}

@media screen and (max-width: 768px) {
    .modal-desc {
        max-height: 160px;
        overflow-y: auto;
    }
}

