.filter {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.filter-item {
    cursor: pointer;
    position: relative;
    color: var(--on-surface);
    font-size: var(--label-1);
    border: 1px solid var(--surface-outline);
    padding: 4px 12px;
    border-radius: var(--radius-4);
    opacity: 0.8;
}

.filter-item.active {
    background-color: var(--surface);
    color: var(--on-background);
    font-weight: var(--weight-semiBold);
}

.filter-item:not(.active):hover {
    background-color: var(--color-opacity-5);
    border-color: var(--surface-outline-hover);
    opacity: 1;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 16px;
}

.card-item {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: 8px;
    background-color: var(--surface);
    padding: 12px;
    border-radius: var(--radius-8);
    cursor: pointer;
    overflow: hidden;
}

.img-holder {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    border-radius: var(--radius-8);
    overflow: hidden;
    margin-bottom: 4px;
}
.title {
    font-size: var(--body);
    font-weight: var(--weight-regular);
}
.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
}

.badge {
    background-color: var(--background);
    color: var(--on-background);;
    font-size: var(--label-1);
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}

.spacer {
    flex-grow: 1;
}

.demo-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--primary);
    font-size: var(--label-1);
    transition: 0.3s;
}

.demo-icon {
    font-size: 12px;
    transition: 0.3s;
}

.card-item:hover .demo-btn {
    font-weight: var(--weight-semiBold);
}

.card-item:hover .demo-icon {
    transform: translateX(6px);
}
